$hint-text-color:rgba(0, 0, 0, .54);
$valid-color: green;
$invalid-color: red;
.icon-custom {
    padding-right: 10px;
}

.icon-custom .fa-check {
    color: $valid-color;
}

.icon-custom .fa-times {
    color: $invalid-color;
}

.hint-custom-text {
    color: $hint-text-color;
    font-size: 75%;
}